.navbar.navbar-default.navbar-static-top
  .container
    %a.navbar-brand Sample Blog Application
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to browse_index_path do 
            %i.glyphicon.glyphicon-eye-open
            = "Browse posts"
        %li
          = link_to posts_path do 
            %i.glyphicon.glyphicon-pencil
            = "Manage posts"
