- unless @authors.empty?
  .col-md-12
    %table.table.table-bordered.table-striped
      %tr
        %th Author
        %th AVG Rating
      - @authors.each do |author|
        %tr
          %td
            %b= author[0]
          %td
            %span.badge= author[1].round(2)
