- posts.each do |post|
  .post-holder
    .panel.panel-success
      .panel-heading
        = post.title
        = " - [#{post.category.title}]"
      .panel-body
        %p= post.text
        .small.pull-left= post.author
        .pull-right.badge= post.rating