.panel.panel-default.panel-filter
  .panel-body
    - params[:filter] ||= {}
    = simple_form_for :filter, url: browse_index_path, method: :get, remote: true, defaults: { required: false }, html: { class: 'form-inline' } do |f|
      = f.input :author, input_html: { value: params[:filter][:author] }
      = f.input :category, collection: Category.all, selected: params[:filter][:category], include_blank: true
      = f.input :publish_date, input_html: { value: params[:filter][:publish_date], class: :datepicker }
      = f.input :rating_from, input_html: { value: params[:filter][:rating_from] }
      = f.input :rating_to, input_html: { value: params[:filter][:rating_to] }
      = f.submit 'Filter', class: 'btn btn-success'
      = link_to "Top authors", authors_browse_index_path, class: 'btn btn-info', remote: true

#browse_content.row
  = render 'list', posts: @posts
