= horizontal_form_for @post, remote: true do |f|
  = f.input :title
  = f.association :category
  = f.input :publish_date
  = f.input :author
  = f.input :text

  = f.button :submit, class: 'btn-success pull-right'

.clear