- unless posts.empty?
  %table.table.table-bordered.table-striped
    %tr
      %th Title
      %th author
      %th Rating
      %th Actions
    - posts.each do |post|
      %tr
        %td= post.title
        %td= post.author
        %td= post.rating.round(2)
        %td
          .btn-group
            = link_to 'edit', edit_post_path(post), class: 'btn btn-xs btn-default btn-success', remote: true
            = link_to 'delete', post_path(post), method: :delete, class: 'btn btn-xs btn-default btn-danger', remote: true, data: { confirm: 'Sure?' }
