.container {
  width: 1170px;
}
.panel-filter {
  .form-group {
    margin-right: 12px;
  }
  label {
    margin-right: 15px;
  }
  .filter_rating_from input, .filter_rating_to input {
    width: 50px;
  }
  .filter_author input, .filter_publish_date input {
    width: 100px;
  }
}
.post-holder {
  width: 325px;
  height: 100px;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;

}